@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base; 
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Base styles to prevent overflow */
html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(var(--background-rgb));
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

@keyframes highlight {
  0% {
    background-color: rgba(59, 130, 246, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

.highlight-message {
  animation: highlight 2s ease-out;
}

@keyframes slow-pulse {
  0%, 90%, 100% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
}

.animate-slow-pulse {
  animation: slow-pulse 5s linear infinite;
}